<footer>
     <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="/"><img src="/static/bootstrap/assets/img/logo/logo2_footer.png" alt="" style="width:100%"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p style="font-size:15px">FREE Your Limits, 與您一同走進 AI 新時代。</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="https://www.facebook.com/aifreeteam" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://github.com/AI-FREE-Team" target="_blank"><i class="fab fa-github"></i></a>
                                    <a href="https://www.linkedin.com/company/ai-free-team/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://www.instagram.com/aifreeteam/" target="_blank"><i class="fab fa-instagram"></i></a>
                                    <a href="mailto:ai.free.team@gmail.com;ai.free.startup@gmail.com; "><i class="fa fa-envelope"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>服務與產品</h4>
                                <ul>
                                    <li><a href="/blog/?category=個人教育訓練">個人教育訓練</a></li>
                                    <li><a href="/blog/?category=企業教育訓練">企業教育訓練</a></li>
                                    <li><a href="/blog/?category=技術顧問諮詢">技術顧問諮詢</a></li>
                                    <li><a href="/blog/?category=客製化專案開發">客製化專案開發</a></li>
                                    <li><a href="/blog/?category=企業合作">企業人才媒合/策略合作</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>現有課程</h4>
                                <ul>
                                    <li><a href="/courses/?category=智慧製造">智慧製造</a></li>
                                    <li><a href="/courses/?category=智慧商務">智慧商務</a></li>
                                    <li><a href="/courses/?category=AI繪圖">AI 繪圖</a></li>
                                    <li><a href="/courses/?category=AI技術入門">AI 技術入門</a></li>
                                    <li><a href="/courses/?category=生成式AI課程">生成式 AI 課程</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>關於自由團隊</h4>
                                <ul>
                                    <li><a href="/story">品牌故事</a></li>
                                    <li><a href="/achievements">團隊事蹟</a></li>
                                    <li><a href="/career">人才招募</a></li>
                                    <li><a href="/contact">聯絡我們</a></li>
                                    <li><a href="/blog">技術部落格</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                  Copyright &copy; <script>document.write(new Date().getFullYear());</script> <span class="color_AI">AI</span>
                                     . 
                                    <span class="color_FREE">FREE</span>
                                    <span class="color_TEAM">Team</span> All rights reserved. <a href="https://colorlib.com" target="_blank"><font style="font-size:2px">Colorlib</font></a></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer End-->
      </div>
  </footer> 