    <style type="text/css">
        .main-header .main-menu ul li a {
    color: black;
    font-weight: 600;
    padding: 39px 2px;
    display: block;
    font-size: 16px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-transform: capitalize
}

.header-sticky.sticky-bar ul li a {
    color: white;
}
    </style>
    {% if messages %}
    <script>
      {% for msg in messages %}
      alert('{{ msg }}');
      {% endfor %}
    </script>
    {% endif %}
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky" >
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/"><img src="/static/bootstrap/assets/img/logo/logo.png" alt="" style="height:96px"></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="/">首頁</a></li>
                                                <li><a href="/story">自由團隊介紹</a></li>
                                                <li><a href="/blog/?category=成功案例">成功案例</a></li>
                                                <li><a href="/courses">專業課程</a></li>
                                                <li><a href="/blog">Blog</a></li>
                                                <li><a href="/career">加入團隊</a></li>
                                                <li><a href="/contact">聯絡我們</a></li>

                                                <!-- Button -->
                                                <!-- <li class="button-header margin-left "><a href="#" class="btn" style="border-radius: 30px">聯絡我們</a></li> -->
                                                <!-- <li class="button-header"><a href="login.html" class="btn btn3">Log in</a></li> -->
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

<script type="text/javascript">
  const urlParams = new URLSearchParams(window.location.search);
  let params = (new URL(document.location)).searchParams;
  let category = params.get('category')

  function category_function(cate_select) {
    urlParams.set('category', cate_select);
    window.location.search = urlParams;
  };
</script>