<!doctype html>{% load static %}
<html class="no-js" lang="zxx">
<head>
    
    <title>AI . FREE Team Official Website</title>
    <meta name="description" content="">
    {% include 'default/head.html' %}
    <style type="text/css">
        .color_AI {
            color: #3fb0f0;
            font-weight : bold;
        }
        
        .color_FREE {
            color: #8dcd49!important ;
            font-weight : bold;
        }
        
        .color_TEAM {
            color: #a5a5a5;
            font-weight : bold;
        }
    </style>

</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/bootstrap/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    {% include 'default/header.html' %}
    <main>
    </main>
    {% include 'default/footer.html' %}
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

{% include 'default/js.html' %}

</body>
</html>