<!doctype html>{% load static %}
<html class="no-js" lang="zxx">
<head>
    
    <title>AI . FREE Team Official Website</title>
    <meta name="description" content="">
    {% include 'default/head.html' %}
    <style type="text/css">
        .color_AI {
            color: #3fb0f0;
            font-weight : bold;
        }
        
        .color_FREE {
            color: #8dcd49!important ;
            font-weight : bold;
        }
        
        .color_TEAM {
            color: #a5a5a5;
            font-weight : bold;
        }
    </style>

</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/bootstrap/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    {% include 'default/header.html' %}
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-8 col-lg-11 col-md-12">
                        <div class="hero__caption hero__caption2">
                          <h1 data-animation="bounceIn" data-delay="0.2s" style="color:black;">夥伴招募</h1>
                          <!-- breadcrumb Start-->
                          <nav aria-label="breadcrumb">
                            <ol class="breadcrumb" style="background-color: transparent; color: black;">
                              <li class="breadcrumb-item"><a href="/">Home</a></li>
                              <li class="breadcrumb-item"><a href="">夥伴招募</a></li> 
                           </ol>
                        </nav>
                        <!-- breadcrumb End -->
                     </div>
                  </div>
                        </div>
                    </div>          
                </div>
            </div>
            
        </section>
        <!--? Blog Area Start -->
        <!--? Start Sample Area -->
        <section class="sample-text-area">
            <div class="whole-wrap">
                <div class="container box_1170">
                    <div class="section-top-border">
                        <div class="row">
                            <div class="col-lg-12">
                                <blockquote class="generic-blockquote" style="color:gray; font-family: Microsoft JhengHei; line-height: 1.75;">
                                    <h3 class="mb-30"><strong>成立背景與故事</strong></h3>
                                    2012年，哈佛商業評論推出了《21世紀最性感的職業：資料科學家》，全世界開始爭先研究「大數據」。
                                    <br>
                                    2016年，Google Deepmind 推出 AlphaGO，打敗韓國世界棋王李世石，掀起 AI 時代的序幕。
                                    <br>
                                    2017年，政府倡導：台灣人工智慧元年，但是當時台灣的 AI 技術與學習資源相當受限，知識獲取與學習需求的斷層。
                                    <br>
                                    2018 年，AI . FREE Team 創立，希望透過讀書會的方式，自學 AI 技術，並降低台灣 AI 產學界的學習門檻。
                                    <br>
                                    2021 年，在累積諸多競賽經歷、專案開發經驗，成立智悠科技，致力提供教育訓練、顧問諮詢、專案開發等服務。
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container box_1170" style="font-family: Microsoft JhengHei;">
                <h3 class="text-heading">Why 自由團隊</h3>
                <p class="sample-text">
                    <b>為什麼英文取名叫 FREE Team?</b>
                    <br>
                    <i>自由團隊的成立，核心宗旨為打破知識學習、技術獲取的藩籬。</i><br>
                    從高中到大學，我們都從考試分數進行校系的分發，但很少人真的能夠選擇學習自己感興趣的學科；而若是重新選擇自己的愛好，則需要投入更多的時間與精力，尤其是當過去不曾出現的技術問世，我們往往與技術擦肩而過，而只能屈就過去僅有的選擇，而錯失跟進趨勢的契機，而人工智慧便是其中的最佳範例。<br>
                    隨著科技/技術快速變遷，傳統的校園教育已經無法跟上產業變化的速度，因此自由團隊希望能夠打造自由的通道，協助個人從其所好的學習、最新 AI 技術的學習與應用，同時透過企業教育訓練以及專案導入顧問等方式，幫助企業成功落第 AI 技術、加速產業智能化轉型；因此自由團隊主張 AI 技術的獲取與學習，個人不因學經歷背景而有所受限、企業也不因產業屬性而有所門檻，科技的技術應該<strong>自由</strong>地被取用，而自由團隊便是那扇望向自由的窗。<br><br>

                    <b>自由學習、自由貢獻、自由成長</b>
                    <br>
                    <i>學習是一條孤獨且艱辛的道路，學習技術、學習創業、學習如何知識有效地傳遞等，這些都是自由團隊可以提供給我們夥伴的。</i><br>
                    自由團隊成員的組成，皆從讀書會出發，我們希冀任何一位加入團隊的夥伴，都能從中獲得各自所需的資源；透過每週一次的讀書會，你可以獲取不同成員分享不同領域的知識、觀點、技術，並能夠向分享者提問、第一時間互動解惑，你也可以透過個人的主題分享，藉機安排學習自己有興趣的主題，並透過與成員們交流、激盪出不同的火花，進而提升個人的技術/專業能力與報告技巧，甚至是可以和讀書會夥伴一同組隊參賽、增進個人經歷、嘗試創業的專題等。<br>
                    我們期待有興趣加入團隊的你/妳，有自主能力進行自由的學習並熱情地參與團隊的任務，在團隊中自由貢獻的意義也表示著你個人的成長與價值，而要成為什麼樣的人，都取決於你/妳個人的自由意識，而我們將透過團隊的力量一同成長，變成心中期待的自己。<br><br>
                </p>
                <h3 class="text-heading">加入自由團隊</h3>
                <p class="sample-text">
                    你是否對於 AI 有熱忱？你是否渴望加入有向心力的 AI 團隊？<br>
                    別猶豫！立即<a href="mailto: ai.free.team@gmail.com;ai.free.startup@gmail.com;" style="color: blueviolet;">留下您的自我推薦信 + 個人履歷</a>，我們將與您進一步聯繫！
                </p>
            </div>
        </section>
        <!-- End Sample Area -->
    </main>
    {% include 'default/footer.html' %}
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

{% include 'default/js.html' %}

</body>
</html>